body{
	font-family: 'Crimson Text', serif;
	background:black;
	font-size: 10pt;
	color:white;
}

#topic{
	font-size: 30pt;
	position: absolute;
	top:350px;
	left:600px;
}

h2{
	font-size: 10pt;
	position: absolute;
	top:350px;
	left:600px;
}

img{
	position: absolute;
	top:250px;
	left:400px;
	z-index: -1;
	opacity: 0.6;
	height:300px;
	width: 450px;
}

.gallery{
	color:white;
	text-decoration: none;
	font-size:25px;

}


h3{
	opacity: 0.7
}
a{
	text-decoration: none;
}

h3:hover { 
  color:red;
  text-decoration: line-through;
}

.content{
		color:white;
	text-decoration: none;
	font-size:25px;
}

.poster{
	color:white;
	text-decoration: none;
	font-size:25px;

}

.poster2{
	color:white;
	text-decoration: none;
	font-size:25px;

}


.cri{
	color:white;
	text-decoration: none;
	font-size:25px;

}


.res{
	color:white;
	text-decoration: none;
	font-size:25px;

}



.per{
	color:white;
	text-decoration: none;
	font-size:25px;

}

.typeface{
	color:white;
	text-decoration: none;
	font-size:25px;

}

.mta{
	color:white;
	text-decoration: none;
	font-size:25px;

}

.poem{
	color:white;
	text-decoration: none;
	font-size:25px;

}

.jq{
	color:white;
	text-decoration: none;
	font-size:25px;


}

.jo{
	color:white;
	text-decoration: none;
	font-size:25px;
   

}

.arr{
	color:white;
	text-decoration: none;
	font-size:25px;


}


.wf{
	color:white;
	text-decoration: none;
	font-size:25px;


}

