@-ms-viewport{
  width: device-width;
}


.wrapper{
	width:1400px;
	height: 1000px;
	background-color:#2D2C5C;
margin: 0 auto;
padding:0;
}

body{
	background:black;
}

img{
	height:170px;
	position:relative;
	top:410px;
	left:450px;
}

/*wanlifurongji*/

.tooltip {
    position: relative;
    display: inline-block;
    color:#E2B68E;
    font-size: 26px;
    position:relative;
    top:180px;
    left:140px;
    opacity:1;
}

.tooltip:hover{
   visibility: hidden;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width:800px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: -340px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*shuoqi*/

.tooltip1 {
    position: relative;
    display: inline-block;
    color:#E2B68E;
    font-size: 26px;
    position:relative;
    top:480px;
    left:-100px;
    opacity:1;
}

.tooltip1:hover{
   visibility: hidden;
}

.tooltip1 .tooltiptext1 {
    visibility: hidden;
    width:800px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    z-index: 1;
    top: 100%;
    left: -250px;
}

.tooltip1:hover .tooltiptext1 {
    visibility: visible;
}



/*jiangjun*/

.tooltip3 {
    position: relative;
    display: inline-block;
    color:#E2B68E;
    font-size: 26px;
    position:relative;
    top:600px;
    left:-415px;
    opacity:1;
}

.tooltip3:hover{
   visibility: hidden;
}

.tooltip3 .tooltiptext3 {
    visibility: hidden;
    width:800px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    z-index: 1;
    top: 100%;
    left: -250px;
}

.tooltip3:hover .tooltiptext3 {
    visibility: visible;
}



#buttona{
  width:40px;
  height:40px;
  background: #6D2525;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity:1.0;
  position: relative;
top:700px;
left:500px;
}

#buttona:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}



#buttonb{
  width:40px;
  height:40px;
  background: #472C49;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity:1.0;
  position: relative;
  top:660px;
  left:590px;
}
#buttonb:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}

#buttond{
  width:40px;
  height:40px;
  background: #14481A;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  opacity:1.0;
  top:620px;
  left:680px;
}
#buttond:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}



#buttone{
  width:40px;
  height:40px;
  background: #815A37;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  opacity: 1.0;
  top:580px;
  left:770px;
}
#buttone:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}



#buttonf{
  width:40px;
  height:40px;
  background: black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  opacity: 1.0;
    top:540px;
  left:860px;
}
#buttonf:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}



.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}




















