@-ms-viewport{
  width: device-width;
}

.wrapper{
  width:1400px;
  height: 1000px;
  background-color:#2D2C5C;
margin: 0 auto;
}


body{
	background:#2D2C5C;
}

img{
	height:170px;
	position:relative;
	top:410px;
	left:450px;
}

/*wanlifurongji*/
.tooltip .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip{
  color:#E2B68E;
  margin-top:-100px;
  margin-left:630px;
  font-size:46px
}

.tooltip {
  color:#E2B68E;
  top:100px;
  left:630px;
  font-size:26px
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none
}
/*english position*/
.tooltip:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 26px;
    top:-80px;
    margin-left:-650px;
    text-align: center;
  white-space: pre-line;
}

.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#wanli{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
}

#wanli:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;
}


#wanli{
    -webkit-animation: mymove 3s; 
    -webkit-animation-play-state: running; 
    animation: mymove 3s;
    animation-play-state: running;
    -webkit-animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
    animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
}


 
@-webkit-keyframes mymove {
    from {font-size: 10px; color:#2D2C5C;}
    to {font-size: 26px; color:#E2B68E;}
}

@keyframes mymove {
    from {font-size: 10px; color:#2D2C5C;}
    to {font-size: 26px; color:#E2B68E;}
}





/*shuoqi*/
/*chinese position*/
.tooltip1.tooltiptext {
    visibility: hidden;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}
.tooltip1 {
  color:#E2B68E;
  margin-top:100px;
  margin-left:530px;
  font-size:30px
}
.tooltip1:before,
.tooltip1:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip1:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 26px;
    margin-top:50px;
    margin-left:-480px;
  white-space: pre-line;
  text-align: center
}

.tooltip1.fade:after,
.tooltip1.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip1.fade:hover:after,
.tooltip1.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#shuoqi{
  filter: alpha(opacity=100);
  opacity:0.3;
  cursor: help;
}

#shuoqi:hover{
  filter: alpha(opacity=100);
  opacity:1.0;
  cursor: help;}
  


  #shuoqi{
    -webkit-animation: sq 3s; 
    -webkit-animation-play-state: running; 
    animation: sq 3s;
    animation-play-state: running;
    -webkit-animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
    animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
}


 
@-webkit-keyframes sq {
    from {font-size: 10px; color:#2D2C5C;}
    to {font-size: 30px; color:#E2B68E;}
}

@keyframes sq {
    from {font-size: 10px; color:#2D2C5C;}
    to {font-size: 30px; color:#E2B68E;}
}

}


/*jiangjun*/
.tooltip2 .tooltiptext {
    visibility: hidden;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}



.tooltip2 {
  color:#E2B68E;
  margin-top:200px;
  margin-left:420px;
  font-size:50px
}
.tooltip2:before,
.tooltip2:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip2:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 40px;
    margin-top:90px;
    margin-left:-400px;
  white-space: pre-line;
  text-align: center
}

.tooltip2.fade:after,
.tooltip2.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip2.fade:hover:after,
.tooltip2.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#jiangjun{
  opacity:0.3;
  filter: alpha(opacity=100);
   cursor: help;
}

#jiangjun:hover{
  opacity:1.0;
   filter: alpha(opacity=100);
     cursor: help;
}

#jiangjun{
    -webkit-animation: jj 3s; 
    -webkit-animation-play-state: running; 
    animation: jj 3s;
    animation-play-state: running;
    -webkit-animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
    animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
}


 
@-webkit-keyframes jj {
    from {font-size: 10px; color:#2D2C5C;}
    to {font-size: 50px; color:#E2B68E;}
}

@keyframes jj {
    from {font-size: 10px; color:#2D2C5C;}
    to {font-size: 50px; color:#E2B68E;}
}



/*red*/

#buttona{
  width:40px;
  height:40px;
  background: #6D2525;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity:1.0;
  position: absolute;
  top:200px;
  left:100px;

}
#buttona:hover {
    background:#2D2C5C;
}


#buttona #zhong{
      visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    opacity:1;
}

#buttona:hover #zhong {
    visibility: visible;
    opacity:1;
}



/*purple*/

#buttonb{
  width:40px;
  height:40px;
  background: #724876;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity:1.0;
  position: absolute;
  top:300px;
  left:100px;

}
#buttonb:hover {
    background:#2D2C5C;
}


#buttonb #rose{
      visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    opacity:1;
}

#buttonb:hover #rose {
    visibility: visible;
    opacity:1;
}






/*green*/

#buttond{
  width:40px;
  height:40px;
  background: #14481A;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  opacity:1.0;
 position: absolute;
  top:400px;
  left:100px;

}
#buttond:hover {
background:#2D2C5C;
}

#buttond #live{
      visibility: hidden;
    width: 210px;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    opacity:1;
}

#buttond:hover #live {
    visibility: visible;
    opacity:1;
}


/*yellow*/

#buttone{
  width:40px;
  height:40px;
  background: #815A37;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity: 1.0;
 position: absolute;
  top:500px;
  left:100px;
}
#buttone:hover {
background:#2D2C5C;
}

#buttone #com{
      visibility: hidden;
    width: 210px;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    opacity:1;
}

#buttone:hover #com {
    visibility: visible;
    opacity:1;
}




#buttonf{
  width:40px;
  height:40px;
  background: black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: absolute;
  opacity: 1.0;
  top:600px;
  left:100px;


}
#buttonf:hover {
background:#2D2C5C;
}
























