@-ms-viewport{
  width: device-width;
}

.wrapper{
	width:1400px;
	height: 1000px;
	background-color:#472C49;
margin: 0 auto;
padding:0;
}

body{
	background:black;
}

img{
	height:170px;
	position:relative;
	top:410px;
	left:450px;
}