@-ms-viewport{
  width: device-width;
}

.wrapper{
	width:1400px;
	height: 1000px;
	background-color:#472C49;
margin: 0 auto;
padding:0;
}

body{
	background:black;
}

img{
	height:170px;
	position:relative;
	top:410px;
	left:450px;
}

/*/*danci*/
.tooltip .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip {
  color:#E2B68E;
  margin-top:-100px;
  margin-left:200px;
  font-size:46px
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
/*english position*/
.tooltip:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 28px;
    top:100px;
    left:380px;
  white-space: pre-line;
  text-align: left
}

.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#dc{
  opacity:1.0;
  filter: alpha(opacity=50); 
  cursor: help;
}

#dc:hover{
  opacity:0.2;
  filter: alpha(opacity=100);
  cursor: help;
}



/*musu*/
.tooltip0 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip0:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip0 {
  color:#E2B68E;
  margin-top:10px;
margin-left:200px;
  font-size:24px
}
.tooltip0:before,
.tooltip0:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
/*english position*/
.tooltip0:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    top:210px;
    left:420px;
  white-space: pre-line;
  text-align: left
}

.tooltip0.fade:after,
.tooltip0.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip0.fade:hover:after,
.tooltip0.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#musu{
  opacity:1.0;
  filter: alpha(opacity=50); 
  cursor: help;
}

#musu:hover{
  opacity:0.2;
  filter: alpha(opacity=100);
  cursor: help;
}

/*ming*/
.tooltip1 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip1 {
  color:#E2B68E;
  margin-top:50px;
  margin-left:200px;
  font-size:24px
}
.tooltip1:before,
.tooltip1:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
/*english position*/
.tooltip1:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    top:400px;
    left:80px;
  white-space: pre-line;
  text-align: left
}

.tooltip1.fade:after,
.tooltip1.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip1.fade:hover:after,
.tooltip1.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#ming{
  opacity:1.0;
  filter: alpha(opacity=50); 
  cursor: help;
}

#ming:hover{
  opacity:0.2;
  filter: alpha(opacity=100);
  cursor: help;
}


/*xi*/
.tooltip2 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip2 {
  color:#E2B68E;
  margin-top:130px;
  margin-left:200px;
  font-size:24px
}
.tooltip2:before,
.tooltip2:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
/*english position*/
.tooltip2:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    top:550px;
    left:110px;
  white-space: pre-line;
  text-align: left
}

.tooltip2.fade:after,
.tooltip2.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip2.fade:hover:after,
.tooltip2.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#xi{
  opacity:1.0;
  filter: alpha(opacity=50); 
  cursor: help;
}

#xi:hover{
  opacity:0.2;
  filter: alpha(opacity=100);
  cursor: help;
}



.tooltip3 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip3:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip3 {
  color:#E2B68E;
  margin-top:100px;
  margin-left:630px;
  font-size:24px
}
.tooltip3:before,
.tooltip3:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
/*english position*/
.tooltip3:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    top:680px;
    left:580px;
  white-space: pre-line;
  text-align: left
}

.tooltip3.fade:after,
.tooltip3.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip3.fade:hover:after,
.tooltip3.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#nan{
  opacity:1.0;
  filter: alpha(opacity=50); 
  cursor: help;
}

#nan:hover{
  opacity:0.2;
  filter: alpha(opacity=100);
  cursor: help;
}


/*bei*/
.tooltip4 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip4:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip4 {
  color:#E2B68E;
  margin-top:-330px;
  margin-left:630px;
  font-size:24px
}
.tooltip4:before,
.tooltip4:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
/*english position*/
.tooltip4:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    top:380px;
    left:560px;
  white-space: pre-line;
  text-align: left
}

.tooltip4.fade:after,
.tooltip4.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip4.fade:hover:after,
.tooltip4.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#bei{
  opacity:1.0;
  filter: alpha(opacity=50); 
  cursor: help;
}

#bei:hover{
  opacity:0.2;
  filter: alpha(opacity=100);
  cursor: help;
}




/*dong*/
.tooltip5 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip5:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip5 {
  color:#E2B68E;
  margin-top:130px;
  margin-left:1070px;
  font-size:24px
}
.tooltip5:before,
.tooltip5:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}
/*english position*/
.tooltip5:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    top:550px;
    left:1020px;
  white-space: pre-line;
  text-align: left
}

.tooltip5.fade:after,
.tooltip5.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 4s ease-in;
  transition: all 8s ease-out;
}
.tooltip5.fade:hover:after,
.tooltip5.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#dong{
  opacity:1.0;
  filter: alpha(opacity=50); 
  cursor: help;
}

#dong:hover{
  opacity:0.2;
  filter: alpha(opacity=100);
  cursor: help;
}



