@-ms-viewport{
  width: device-width;
}

.wrapper{
	width:1400px;
	height: 1000px;
	margin: 0 auto;
	background-color:#724876;
}

body{
	background:#724876;
}

img{
	height:170px;
	position:relative;
	top:410px;
	left:450px;
}

/*/*danci*/
.tooltip .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip{
  color:#E2B68E;
  margin-top:-250px;
  margin-left:120px;
  font-size:46px
}


.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 28px;
    margin-top:110px;
    margin-left:100px;
  white-space: pre-line;
  text-align: left
}

.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 6s ease;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#dc{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
  transition: all 6s ease;}

#dc:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;
 
}

#dc{
    -webkit-animation: dc 2s; 
    -webkit-animation-play-state: running; 
    -webkit-animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
    animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
    animation: dc 2s;
    animation-play-state: running;
  }


 
@-webkit-keyframes dc {
    from {font-size: 40px; color:#724876;}
    to {font-size: 46px; color:#E2B68E;}
}

@keyframes dc {
    from {font-size: 40px; color:#724876;}
    to {font-size: 46px; color:#E2B68E;}
}





/*/*musu*/
.tooltip0 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip0:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip0{
  color:#E2B68E;
  margin-top:-200px;
  margin-left:120px;
  font-size:24px
}


.tooltip0:before,
.tooltip0:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip0:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    margin-top:130px;
    margin-left:180px;
  white-space: pre-line;
  text-align: left
}

.tooltip0.fade:after,
.tooltip0.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 6s ease;
}
.tooltip0.fade:hover:after,
.tooltip0.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#musu{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
    transition: all 6s ease;
}

#musu:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;
}

#musu{
    -webkit-animation: mymove 3s; 
    -webkit-animation-play-state: running; 
    animation: mymove 3s;
    animation-play-state: running;
    -webkit-animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
    animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
}


 
@-webkit-keyframes mymove {
    from {font-size: 10px; color:#724876;}
    to {font-size: 24px; color:#E2B68E;}
}

@keyframes mymove {
    from {font-size: 10px; color:#724876;}
    to {font-size: 24px; color:#E2B68E;}
}



/*/*huanghe*/
.tooltip1 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip1:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip1{
  color:#E2B68E;
  margin-top:-180px;
  margin-left:120px;
  font-size:24px
}


.tooltip1:before,
.tooltip1:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip1:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    margin-top:130px;
    margin-left:180px;
  white-space: pre-line;
  text-align: left
}

.tooltip1.fade:after,
.tooltip1.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all 6s ease;
}
.tooltip1.fade:hover:after,
.tooltip1.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#ming{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
    transition: all 6s ease;
}

#ming:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;

}




#ming{
    -webkit-animation: mymove 4s; 
    -webkit-animation-play-state: running; 
    animation: mymove 4s;
    animation-play-state: running;}


 


/*/*xishi*/
.tooltip2 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip2{
  color:#E2B68E;
  margin-top:-70px;
  margin-left:180px;
  font-size:24px
}


.tooltip2:before,
.tooltip2:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip2:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    margin-top:130px;
    margin-left:-120px;
  white-space: pre-line;
  text-align: left
}

.tooltip2.fade:after,
.tooltip2.fade:before {
  transform: translate3d(0,-10px,0);
transition: all 6s ease;
}
.tooltip2.fade:hover:after,
.tooltip2.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#xi{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
  transition: all 6s ease;
}

#xi:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;
  
}

#xi{
    -webkit-animation: mymove 5s; 
    -webkit-animation-play-state: running; 
    animation: mymove 5s;
    animation-play-state: running;}







/*/*nanshi*/
.tooltip3 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip3:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip3{
  color:#E2B68E;
  margin-top:-50px;
  margin-left:640px;
  font-size:24px
}


.tooltip3:before,
.tooltip3:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip3:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    margin-top:130px;
    margin-left:-120px;
  white-space: pre-line;
  text-align: left
}

.tooltip3.fade:after,
.tooltip3.fade:before {
  transform: translate3d(0,-10px,0);
transition: all 6s ease;
}
.tooltip3.fade:hover:after,
.tooltip3.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#nan{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
  transition: all 6s ease;
}

#nan:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;

}

#nan{
    -webkit-animation: mymove 5s; 
    -webkit-animation-play-state: running; 
    animation: mymove 5s;
    animation-play-state: running;}


 




/*/*beishi*/
.tooltip4 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip4:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip4{
  color:#E2B68E;
  margin-top:-500px;
  margin-left:640px;
  font-size:24px
}


.tooltip4:before,
.tooltip4:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip4:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    margin-top:130px;
    margin-left:-120px;
  white-space: pre-line;
  text-align: left
}

.tooltip4.fade:after,
.tooltip4.fade:before {
  transform: translate3d(0,-10px,0);
transition: all 6s ease;
}
.tooltip4.fade:hover:after,
.tooltip4.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#bei{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
  transition: all 6s ease;
}

#bei:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;
}


#bei{
    -webkit-animation: mymove 5s; 
    -webkit-animation-play-state: running; 
    animation: mymove 5s;
    animation-play-state: running;}


/*/*dongshi*/
.tooltip5 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip5:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip5{
  color:#E2B68E;
  margin-top:-20px;
  margin-left:1080px;
  font-size:24px
}


.tooltip5:before,
.tooltip5:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip5:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    margin-top:130px;
    margin-left:-120px;
  white-space: pre-line;
  text-align: left
}

.tooltip5.fade:after,
.tooltip5.fade:before {
  transform: translate3d(0,-10px,0);
transition: all 6s ease;
}
.tooltip5.fade:hover:after,
.tooltip5.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#dong{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
  transition: all 6s ease;
}

#dong:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;
}


#dong{
    -webkit-animation: mymove 5s; 
    -webkit-animation-play-state: running; 
    animation: mymove 5s;
    animation-play-state: running;}


 


/*/*hh*/
.tooltip6 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip6:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip6{
  color:#E2B68E;
  margin-top:-10px;
  margin-left:760px;
  font-size:46px
}


.tooltip6:before,
.tooltip6:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip6:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 28px;
    margin-top:110px;
    margin-left:100px;
  white-space: pre-line;
  text-align: left
}

.tooltip6.fade:after,
.tooltip6.fade:before {
  transform: translate3d(0,-10px,0);
transition: all 6s ease;
}
.tooltip6.fade:hover:after,
.tooltip6.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#hh{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
  transition: all 6s ease;
}

#hh:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;

}

#hh{
    -webkit-animation: dc 6s; 
    -webkit-animation-play-state: running; 
    -webkit-animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
    animation-timing-function: cubic-bezier(.59,.57,.05,.89); 
    animation: dc 6s;
    animation-play-state: running;
  }





/*/*mu*/
.tooltip7 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip7:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip7{
  color:#E2B68E;
  margin-top:-200px;
  margin-left:1080px;
  font-size:24px
}


.tooltip7:before,
.tooltip7:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip7:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    margin-top:130px;
    margin-left:-120px;
  white-space: pre-line;
  text-align: left
}

.tooltip7.fade:after,
.tooltip7.fade:before {
  transform: translate3d(0,-10px,0);
transition: all 6s ease;
}
.tooltip7.fade:hover:after,
.tooltip7.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#mu{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
  transition: all 6s ease;
}

#mu:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;

}

#mu{
    -webkit-animation: mymove 7s; 
    -webkit-animation-play-state: running; 
    animation: mymove 7s;
    animation-play-state: running;}



/*/*jiu*/
.tooltip8 .tooltiptext {
    visibility: hidden;
    cursor:help;
    width: 300px;
    color: white;
    text-align: left;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip8:hover .tooltiptext {
    visibility: visible;
}

/*chinese position*/
.tooltip8{
  color:#E2B68E;
  margin-top:-280px;
  margin-left:260px;
  font-size:24px
}


.tooltip8:before,
.tooltip8:after {
  display: block;
  opacity: 0;
  pointer-events: none;
}
/*english position*/
.tooltip8:before {
  border-radius: 2px;
  color:white;
  content: attr(data-title);
  font-size: 24px;
    margin-top:130px;
    margin-left:-120px;
  white-space: pre-line;
  text-align: left
}

.tooltip8.fade:after,
.tooltip8.fade:before {
  transform: translate3d(0,-10px,0);
transition: all 6s ease;
}
.tooltip8.fade:hover:after,
.tooltip8.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#jiu{
  opacity:0.3;
  filter: alpha(opacity=50); 
  cursor: help;
  transition: all 6s ease;
}

#jiu:hover{
  opacity:1.0;
  filter: alpha(opacity=100);
  cursor: help;
}

#jiu{
    -webkit-animation: mymove 8s; 
    -webkit-animation-play-state: running; 
    animation: mymove 8s;
    animation-play-state: running;}






/*red*/

#buttona{
  width:40px;
  height:40px;
  background: #6D2525;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity:1.0;
  position: absolute;
  top:200px;
  left:100px;

}
#buttona:hover {
    background:#724876;
}


#buttona #zhong{
      visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    opacity:1;
}

#buttona:hover #zhong {
    visibility: visible;
    opacity:1;
}



/*blue*/

#buttonc{
  width:40px;
  height:40px;
  background: #2D2C5C;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity:1.0;
  position: absolute;
  top:300px;
  left:100px;

}
#buttonc:hover {
background:#724876;
}


#buttonc #heroine{
	    visibility: hidden;
    width: 120px;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    opacity:1;
}

#buttonc:hover #heroine {
    visibility: visible;
    opacity:1;
}




/*green*/

#buttond{
  width:40px;
  height:40px;
  background: #14481A;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  position: relative;
  opacity:1.0;
 position: absolute;
  top:400px;
  left:100px;

}
#buttond:hover {
background:#724876;
}

#buttond #live{
	    visibility: hidden;
    width: 210px;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    opacity:1;
}

#buttond:hover #live {
    visibility: visible;
    opacity:1;
}




/*yellow*/

#buttone{
  width:40px;
  height:40px;
  background: #815A37;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  opacity: 1.0;
 position: absolute;
  top:500px;
  left:100px;
}
#buttone:hover {
background:#724876;
}

#buttone #com{
      visibility: hidden;
    width: 210px;
    background-color: black;
    font-size: 16px;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 5px;
    left: 105%;
    opacity:1;
}

#buttone:hover #com {
    visibility: visible;
    opacity:1;
}


#buttonf{
  width:40px;
  height:40px;
  background: black;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
position: absolute;
  opacity: 1.0;
    top:600px;
  left:100px;


}
#buttonf:hover {
background:#724876; 
}



