@-ms-viewport{
  width: device-width;
}


.wrapper{
	width:1200px;
	height: 1800px;
	background-color: black;
margin: 0 auto;
}

body{
	background:black;
}


.mulanci{
  color: #F5A493;
  font-size: 64pt;
  text-align: center;
  font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
  margin-top:100pt;
}


.ode{
  color:white;
  font-size: 32pt;
  text-align: left;
  font-family: serif;
  font-weight:lighter;
  margin-left:470pt;
  margin-top: -30pt
}

.row{
margin-top: 200px;
}

#zx{
  width:30%;
  height: 30%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

#kq{
  width:30%;
  height: 30%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px
}

#jg{
  width:30%;
  height: 30%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px
}

#db{
  width:30%;
  height: 30%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px
}

#ps{
  width:30%;
  height: 30%;
      display: block;
    margin-left: auto;
    margin-right: auto;
       margin-top: 80px
}






#buttona{
  width:40px;
  height:40px;
  background: #6D2525;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-left: 360px;
  margin-top: -970px;
  opacity:1.0;
  position: relative
}

#buttona:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}



#buttonb{
  width:40px;
  height:40px;
  background: #472C49;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-left: 360px;
  margin-top: 180px;
  opacity:1.0;
  position: relative
}
#buttonb:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}


#buttonc{
  width:40px;
  height:40px;
  background: #2D2C5C;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-left: 360px;
  margin-top: 180px;
  position: relative;
  opacity:1.0;
}
#buttonc:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}





#buttond{
  width:40px;
  height:40px;
  background: #14481A;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-left: 360px;
  margin-top: 180px;
  position: relative;
  opacity:1.0;
}
#buttond:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}



#buttone{
  width:40px;
  height:40px;
  background: #815A37;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  margin-left:360px;
  margin-top: 180px;
  position: relative;
  opacity: 1.0;
}
#buttone:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}


/*xiaozhongliangquan*/

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}


.tooltip {
  position: relative;
}
.tooltip:before,
.tooltip:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 6px 10px;
    top: 6px;
    left:780px;
  white-space: pre-line;
}


.tooltip.fade:after,
.tooltip.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip.fade:hover:after,
.tooltip.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}


#zx {
    opacity: 1.0;
    filter: alpha(opacity=50); 
}

#zx:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}

/* kengqiang */
.tooltip2.tooltiptext {
    visibility: hidden;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip2:hover .tooltiptext {
    visibility: visible;
}


.tooltip2 {
  position: relative;
}
.tooltip2:before,
.tooltip2:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip2:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 6px 10px;
    top: 150px;
    left:780px;
  white-space: pre-line;
}


.tooltip2.fade:after,
.tooltip2.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip2.fade:hover:after,
.tooltip2.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#kq {
    opacity: 1.0;
    filter: alpha(opacity=50); 
}

#kq:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}







/* jinguoyingxiong */

.tooltip3 .tooltiptext {
    visibility: hidden;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip3:hover .tooltiptext {
    visibility: visible;
}


.tooltip3 {
  position: relative;
}
.tooltip3:before,
.tooltip3:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip3:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 6px 10px;
    top: 150px;
    left:780px;
  white-space: pre-line;
}

.tooltip3.fade:after,
.tooltip3.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip3.fade:hover:after,
.tooltip3.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#jg {
    opacity: 1.0;
    filter: alpha(opacity=50); 
}

#jg:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}




/*danbomingli*/

.tooltip4 .tooltiptext {
    visibility: hidden;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip4:hover .tooltiptext {
    visibility: visible;
}


.tooltip4 {
  position: relative;
}
.tooltip4:before,
.tooltip4:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip4:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 6px 10px;
    top: 120px;
    left:780px;
  white-space: pre-line;
}


.tooltip4.fade:after,
.tooltip4.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip4.fade:hover:after,
.tooltip4.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#db {
    opacity: 1.0;
    filter: alpha(opacity=50); 
}

#db:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}




/*pushuo*/

.tooltip5 .tooltiptext {
    visibility: hidden;
    width: 300px;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip5:hover .tooltiptext {
    visibility: visible;
}


.tooltip5 {
  position: relative;
}
.tooltip5:before,
.tooltip5:after {
  display: block;
  opacity: 0;
  pointer-events: none;
  position: absolute;
}

.tooltip5:before {
  background: rgba(0,0,0,.75);
  border-radius: 2px;
  color: #fff;
  content: attr(data-title);
  font-size: 26px;
  padding: 6px 10px;
    top: 150px;
    left:780px;
  white-space: pre-line;
}



.tooltip5.fade:after,
.tooltip5.fade:before {
  transform: translate3d(0,-10px,0);
  transition: all .15s ease-in-out;
}
.tooltip5.fade:hover:after,
.tooltip5.fade:hover:before {
  opacity: 1;
  transform: translate3d(0,0,0);
}

#ps {
    opacity: 1.0;
    filter: alpha(opacity=50); 
}

#ps:hover {
    opacity: 0.2;
    filter: alpha(opacity=100); 
}


