
body{
  padding-top:100px;
  font-family:helvetica;
  background-color:black;
  text-align: center;
  padding-bottom:100px;
}
h{
  font-size:80px;
  font-weight:bold;
  margin:0 auto;
  color:green

}




p{
  font-size:30px;
  font-weight:bold;
  margin:0 auto;
  color:white
}



.back{
  padding:100px;
  color:yellow;
  font-size:25px
}

a {
  text-decoration:none
}

.back:hover{
  color:blue
}


