*{
	box-sizing:border-box;
}

body {
	margin: 0; 
	background-color: black
}

.header {
	background-color:white;
	color:red;
	padding:20px;
	font-size: 50px;
	text-align: center;
}

.nav{
	overflow:hidden;
	background-color:blue;
	color:white;
	font-size: 34px;
}

.nav a {
    float: left;
    display: block;
    color: white;
    width:33.33%;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.nav a:hover{
	background-color: black;
	color:white;
}



.maincolumn{
	float:none;
	width:100%;
	height:auto;
	padding:15px;
	padding-bottom: 20px;
   background-color: white;
   font-size: 36px;

}



.column{
	float:left;
	width:33.33%;
	padding:15px;
	height:400px;
	margin-top: 20px;
	background-color: white;
	font-size: 28px;
}


.row:after {
	content:"";
	display: table;
	clear: both;
}

.footer{
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}



@media (max-width: 500px){
	  .header{
    	font-size: 38px;
    }

	.column{
	width:100%
}
   .nav{
    	font-size: 30px;
    }

      .nav a{
    	float: none;
    	width:auto;
    }

      .maincolumn{
    	font-size: 36px;
    }
     .column{
    	font-size: 28px;
    }



}

/*iphonex*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 
    .header{
    	font-size: 50px;
    }

      .nav{
    	font-size: 66px;
    }

      .nav a{
    	float: none;
    	width:auto;
    }
    .maincolumn{
    	font-size: 40px;
    	text-align: center;
    }

     .column{
    	font-size: 40px;
    	height: 1000px;
    	 width: 100%;
    text-align: center;
    }

 .footer{
    	font-size: 36px;
    }


    }

/*ipad*/
    @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 
.header{
    	font-size: 60px;
    }
    .nav{
    	font-size: 40px;
    }
  .maincolumn{
    	font-size: 30px;
    }

 .maincolumn{
    	font-size: 30px;
    }

    .column{
        font-size: 36px;
    height: 400px;
}

 .footer{
    	font-size: 24px;
    }

}


