

h1{
  font-size: 50px;
  color:black;
  font-family: "Passion One", sans-serif;
  text-align: center;
  margin-top: 200px;
}


*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 30px;
}

.container {
  top: 2rem;
  position: relative;
  width: 10rem;
  font-family: "Passion One", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  color: #000;
  margin-left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  line-height: 1.5rem;
}

.demo, .faker {
  padding-left: 1rem;
  position: absolute;
  width: 10rem;
  height: 1.5rem;
}

.elem-1 {
  top: 0rem;
}

.elem-2 {
  top: 1.5rem;
}

.elem-3 {
  top: 3rem;
}

.elem-4 {
  top: 4.5rem;
}

.elem-5 {
  top: 6rem;
}

.hiliter {
  background: #000;
  position: absolute;
  width: 10rem;
  height: 1.5rem;
  overflow: hidden;
  color: #fff;
  -webkit-transition: -webkit-transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s;
  transition: -webkit-transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s;
  transition: transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s;
  transition: transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s, -webkit-transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s;
}

.fake-1 {
  top: 0rem;
}

.fake-2 {
  top: 1.5rem;
}

.fake-3 {
  top: 3rem;
}

.fake-4 {
  top: 4.5rem;
}

.fake-5 {
  top: 6rem;
}

.fake-elems {
  -webkit-transition: -webkit-transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s;
  transition: -webkit-transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s;
  transition: transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s;
  transition: transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s, -webkit-transform cubic-bezier(0.68, 0.75, 0.62, 1.2) 0.5s;
}

a {
  position: absolute;
  display: block;
  height: 1.5rem;
  width: 10rem;
  color: transparent;
  z-index: 1;
}

.pens {
  text-decoration: underline;
}

.link-1 {
  top: 0rem;
}

.link-2 {
  top: 1.5rem;
}

.link-3 {
  top: 3rem;
}

.link-4 {
  top: 4.5rem;
}

.link-5 {
  top: 6rem;
}

.link-1:hover ~ .hiliter {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}
.link-1:hover ~ .hiliter .fake-elems {
  -webkit-transform: translateY(0rem);
          transform: translateY(0rem);
}

.link-2:hover ~ .hiliter {
  -webkit-transform: translateY(1.5rem);
          transform: translateY(1.5rem);
}
.link-2:hover ~ .hiliter .fake-elems {
  -webkit-transform: translateY(-1.5rem);
          transform: translateY(-1.5rem);
}

.link-3:hover ~ .hiliter {
  -webkit-transform: translateY(3rem);
          transform: translateY(3rem);
}
.link-3:hover ~ .hiliter .fake-elems {
  -webkit-transform: translateY(-3rem);
          transform: translateY(-3rem);
}

.link-4:hover ~ .hiliter {
  -webkit-transform: translateY(4.5rem);
          transform: translateY(4.5rem);
}
.link-4:hover ~ .hiliter .fake-elems {
  -webkit-transform: translateY(-4.5rem);
          transform: translateY(-4.5rem);
}

.link-5:hover ~ .hiliter {
  -webkit-transform: translateY(6rem);
          transform: translateY(6rem);
}
.link-5:hover ~ .hiliter .fake-elems {
  -webkit-transform: translateY(-6rem);
          transform: translateY(-6rem);
}

@media (max-width: 350px) {
  html {
    font-size: 24px;
  }
}
@media (min-width: 560px) {
  html {
    font-size: 36px;
  }
}
