.wrapper{
	width:1200px;
	height: 1800px;
	padding: 30px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

body{
	background:black;
}


.mulanci{
  color: #F5A493;
  font-size: 48pt;
  text-align: center;
  font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
  margin-top:200pt;
}


.ode{
  color:white;
  font-size: 18pt;
  text-align: left;
  font-family: serif;
  font-weight:lighter;
  margin-left:470pt;
  margin-top: -30pt
}

.row{
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#zx{
  width:20%;
  height: 20%

}

#kq{
  width:20%;
  height: 20%
}

#jg{
  width:20%;
  height: 20%
}

#db{
  width:20%;
  height: 20%
}

#ps{
  width:20%;
  height: 20%
}
