.wrapper{
	width:1200px;
	height: 1800px;
	padding: 30px;
	background-color: black;
	margin-left: auto;
	margin-right: auto;
}

body{
	background:black;
}


.mulanci{
  color: #F5A493;
  font-size: 48pt;
  text-align: center;
  font-family: Georgia, "Times New Roman", "KaiTi", "楷体", STKaiti, "华文楷体", serif;
  margin-top:200pt;
}


.ode{
  color:white;
  font-size: 18pt;
  text-align: left;
  font-family: serif;
  font-weight:lighter;
  margin-left:470pt;
  margin-top: -30pt
}

.row{
margin-top: 200px;
}

#zx{
  width:20%;
  height: 20%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -40px;
}

#kq{
  width:20%;
  height: 20%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px
}

#jg{
  width:20%;
  height: 20%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px
}

#db{
  width:20%;
  height: 20%;
      display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 80px
}

#ps{
  width:20%;
  height: 20%;
      display: block;
    margin-left: auto;
    margin-right: auto;
       margin-top: 80px
}



#buttona{
  width:30px;
  height:30px;
  background: #6D2525;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left: 430px;
  margin-top: -780px
}


#buttonb{
  width:30px;
  height:30px;
  background: #472C49;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left: 780px;
  margin-top: 150px
}

#buttonc{
  width:30px;
  height:30px;
  background: #2D2C5C;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left: 430px;
  margin-top: 150px
}

#buttond{
  width:30px;
  height:30px;
  background: #14481A;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left: 430px;
  margin-top: 150px
}


#buttone{
  width:30px;
  height:30px;
  background: #815A37;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  margin-left:780px;
  margin-top: 150px
}


.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: red;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 60%;
    margin: 0 auto
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}



/*iphonex*/
@media only screen 
    and (device-width : 375px) 
    and (device-height : 812px) 
    and (-webkit-device-pixel-ratio : 3) { 

      .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: red;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 210%;
    margin: 0 auto
}
    }



/*iphone8plus*/
@media only screen 
    and (device-width : 414px) 
    and (device-height : 736px) 
    and (-webkit-device-pixel-ratio : 3) { 

            .tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: red;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 190%;
    margin: 0 auto
}

}

/*iphone8*/


@media only screen 
    and (device-width : 375px) 
    and (device-height : 667px) 
    and (-webkit-device-pixel-ratio : 2) {

.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: red;
    color: white;
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 820px;
    left: 210%;
    margin: 0 auto
}
     }
















