body{
  padding-top:60px;
  padding-bottom:60px;
  text-shadow: 2px 1px 8px green;
  background-color:orange;
  background-image:url(http://files.all-free-download.com//downloadfiles/wallpapers/1920_1200/orange_slices_wallpaper_fruits_nature_1173.jpg);
  text-align:center;
  color:white;
  font-family:futura
}
h{
  font-size:100px
}

p{
  font-size:20px;
  margin: 0 0 10px;
  color:green;
  text-shadow: 2px 1px 8px yellow;
}

